<!DOCTYPE html>
<html lang="en">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KWHCBHJ');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-10VYGGQHMW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-10VYGGQHMW');
    </script>
    <head>
        <script data-ad-client="ca-pub-5229408562650286" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="A home for data, a world of science. This is data science." />
        <meta name="author" content="Eloy Chang" />
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="{{ '../assets/img/3.png' | replace: '..', site.url }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    </head>
    <body id="page-top">

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWHCBHJ"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="{{'../index.html#page-top'| replace: '..', site.url }}">Eloy Chang</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ '../index.html#masthead' | replace: '..', site.url }}">Home</a></li>
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ '../index.html#about' | replace: '..', site.url }}">About</a></li>
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ '../index.html#Main' | replace: '..', site.url }}">Main</a></li>
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ '../index.html#projects' | replace: '..', site.url }}">Projects</a></li>
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
                  </ul>
              </div>
          </div>
      </nav>

      <div>
          {{ content }}
      </div>


      <!-- Contact-->
      <section class="signup-section" id="signup">
              <div class="container">
                  <div class="row">
                      <div class="col-md-4 mb-3 mb-md-0">
                          <div class="card py-4 h-100">
                              <div class="card-body text-center">
                                  <i class="fab fa-linkedin"></i>
                                  <a href="https://www.linkedin.com/in/echang182/">
                                  <h4 class="text-uppercase m-0">LinkedIn</h4></a>
                                  <hr class="my-4" />
                                  <div class="small text-black-50"><a href="https://www.linkedin.com/in/echang182/">echang182</a></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-3 mb-md-0">
                          <div class="card py-4 h-100">
                              <div class="card-body text-center">
                                  <i class="fab fa-github"></i>
                                  <a href="https://github.com/echang1802">
                                  <h4 class="text-uppercase m-0">GitHub</h4></a>
                                  <hr class="my-4" />
                                  <div class="small text-black-50"><a href="https://github.com/echang1802">echang1802</a></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-3 mb-md-0">
                          <div class="card py-4 h-100">
                              <div class="card-body text-center">
                                  <img src="{{ '../assets/img/tableau-icon.png' | replace: '..', site.url }}" alt="" weight="15" height="15"/>
                                  <a href="https://public.tableau.com/profile/eloy.chang#!/?newProfile=&activeTab=0">
                                  <h4 class="text-uppercase m-0">Tableau</h4></a>
                                  <hr class="my-4" />
                                  <div class="small text-black-50"><a href="https://public.tableau.com/profile/eloy.chang#!/?newProfile=&activeTab=0">Eloy Chang</a></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </section>
      <!-- Footer-->
      <footer class="footer bg-black small text-center text-white-50"><div class="container">Epsilon DataLabs - Made by Eloy Chang with <a href="https://pages.github.com/">GitHub pages</a> and <a href="https://startbootstrap.com/">Start Bootstrap</a></div></footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Third party plugin JS-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
    </body>
</html>
